<div class="row">
  <div class="col-xs-12">
    <slick settings="vm.slickConfig">
      <div ng-repeat="movie in vm.movies" index="$index">
        <div class="movie-data clearfix" ng-click="vm.play(movie)">
          <img ng-if="movie.cover" ng-src="{{movie.cover}}" ng-alt="movie.title" />
          <div class="movie-caption">
            <h4 class="movie-title">{{movie.title}}</h4>
            <p class="movie-desciption ">{{movie.description}}</p>
          </div>
        </div>
      </div>
    </slick>
  </div>
</div>
